body{
    background-color: #40e0d0;
    color:white;
    text-align: center;
    
}

h1{
    color: white;
    text-align: center
}
a:hover{
    text-decoration: none;
}
a:active{
    text-decoration:none;
}

a{
    color: blue;
}
 a:link {
    background-color: yellow;
    font-size: larger;
    text-align-last: auto;
    
}

a:visited {
    background-color:#607d8b;
}

a:hover {
    background-color: cyan;
}

a:active {
    background-color: red;
}
